DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-long-random-value
DJANGO_ALLOWED_HOSTS=tmmail.ru,www.tmmail.ru,95.163.226.244
DJANGO_CSRF_TRUSTED_ORIGINS=https://tmmail.ru,https://www.tmmail.ru
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_HSTS_SECONDS=31536000
SQLITE_PATH=/opt/smtp_sl/data/db.sqlite3
MEDIA_ROOT=/opt/smtp_sl/data/media
MANAGER_REGISTRATION_ENABLED=0
MAILBOX_ENCRYPTION_KEY=replace-with-existing-or-new-fernet-key
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=1
EMAIL_USE_TLS=0
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL='SMTP_SL <noreply@tmmail.ru>'
MAILBOX_IMAP_TIMEOUT=60
MAIL_RETENTION_DAYS=30
MAILBOX_IMPORT_API_TOKEN=replace-with-long-random-service-token
MAILU_API_BASE_URL=http://127.0.0.1:8088/api/v1
MAILU_API_TOKEN=
TMMAIL_PROVISION_API_TOKEN=replace-with-manager-sl-service-token
TMMAIL_REGISTRY_API_URL=https://tmmail.ru/api/v1/mailboxes/
TMMAIL_MAILBOX_DOMAIN=tmmail.ru
TMMAIL_DEFAULT_QUOTA_BYTES=250000000
TELEGRAM_NOTIFICATIONS_ENABLED=0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_IDS=
TELEGRAM_SITE_URL=https://tmmail.ru
TELEGRAM_API_IP=
